body,html {
    margin: 0;
    padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  min-height: 0;
}

.table-container {
  flex: 0 0 25%;
  min-height: 0;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;

  table {
    width: 100%;
    border-collapse: collapse;
  }
}

.dimension-wrapper {
  display: flex;
  justify-self: center;
  gap: 2%;
}

.input{
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

#tableTitleControls {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  margin: 1% 1%;

}